<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plagiarism Checker</title>

    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</head>
<body>

    <div style="background: url('/static/blurry-gradient-haikei.svg');" class="front">
        <div class="f1"
        data-aos="fade-right" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="200">
            <p class="heading">Plagiarism <br>Checker</p>
            <p class="slogan">Your work is like a snowflake -<br> but we'll know if it's fake</p>
        </div>
        <div class="f2" 
        data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="200">
            
        </div>
    </div>
    <div class="sep"  data-aos="fade-in" data-aos-duration="2000" data-aos-easing="ease-in-out" data-aos-delay="100" > 
        <img src="/static/wave-haikei.svg" alt=""></div>
   

    <div data-aos="fade-right" data-aos-duration="5000" data-aos-delay="500">
            <form class="cont" action="" method="post" style="text-align: center;">
                <div class="flex-child">
                    <span>Enter text here</span>
                    <textarea name="para1" id="para1" class="intext" cols="30" rows="10" >
                        {{par1}}
                    </textarea>
                </div>
                
                <div class="flex-child">
                    <span>Enter text here</span>
                    <textarea name="para2" id="para2" class="intext" cols="30" rows="10" >
                        {{par2}}
                    </textarea>
                </div>
                <input type='Submit' class="btn btn-lg btn-outline-dark submit"></input>
            </form>

        {% if similarpar %}
            <div class="result" >
                <h3 > The two texts are {{similarpar}}% similar.</h3>
            </div>
        {% endif %}
    
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>